<style>
    body{
        background: cornflowerblue;
    }

    .login{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        height: 100%;
        margin: 0;
    }

    .login__input {
        border-radius: 8px;
        padding: 10px 5px;
        outline: none;
    }

    .login__button{
        border-radius: 8px;
        border: 0;
        width: 128px;
        height: 32px;
        background: darkslateblue;
        color: #ddd;
    }
</style>

<form class="login" method="post" action="/user/login">
    <input class="login__input" type="email" name="email" placeholder="Введите email"/>
    <input class="login__input" type="password" name="password" placeholder="Введите пароль"/>
    <button class="login__button" type="submit">Вход</button>
</form>