<style>
    body{
        background: cornflowerblue;
    }

    .register{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        margin: 0;
    }

    .register__input {
        border-radius: 8px;
        padding: 10px 5px;
        outline: none;
    }

    .register__button{
        border-radius: 8px;
        border: 0;
        width: 128px;
        height: 32px;
        background: darkslateblue;
        color: #ddd;
    }

    .register-page{
        height: 100%;
        gap: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .message{
        justify-self: flex-end;
        border-radius: 12px;
        padding: 5px;
        border: 2px solid crimson;
        background: red;
        color: #dddddd;
    }
</style>
<div class="register-page">
    {% if error %}
        <div class="message">{{ error }}</div>
    {% endif %}
    <form class="register" method="post" action="/user/register">
        <input class="register__input" type="text" name="name" placeholder="Введите имя"/>
        <input class="register__input" type="email" name="email" placeholder="Введите email"/>
        <input class="register__input" type="password" name="password" placeholder="Введите пароль"/>
        <input class="register__input" type="password" name="repeat_password" placeholder="Повторите пароль"/>
        <button class="register__button" type="submit">Регистрация</button>
    </form>
</div>